<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!--CSS Stylesheet-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- AOS Stylesheet-->
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css" />
    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
        crossorigin="anonymous">
    <!--AOS Script-->
    <script src="bower_components/aos/dist/aos.js"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <title>Tree Logger</title>
</head>

<body>
    <!--NAVBAR-->
    <nav>
        <a class="nav-link" id="logobar" href="/">
            <img id="logo" src="./assets/img/views/treelogger.png" height="50" >
            
        </a>
        <ul id="mainNav" class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/donate">Donate</a>
            </li>
            <li class="nav-item">
              <a href= "/auth/google" class="item">
                <i  class="google large icon"></i>
                      Sign In
              </a>
  
            </li>
        </ul>
    </nav>
    {{{ body }}}
    <!--Navbar End-->
  
 <!--Footer-->
    <footer class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <br>
                <br>
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com">
                            <i class="fab fa-facebook fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com">
                            <i class="fab fa-twitter fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/">
                            <i class="fab fa-google-plus fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/">
                            <i class="fab fa-linkedin-in fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <p>Copyright &copy; Tree Loggers 2018</p>
            </div>
        </div>
    </footer>
    <!--Footer End--> 
    <script src="./js/main.js"></script>
    <script src="./js/posts.js"></script>

</body>

</html>

    
  