
<div class="container-fluid" id="homePage">
  <!--Main Page Img-->
 
  <div class="row" id="heroImgRow">
    <div class="col-md-12" id="heroImgCol">
      <div id="heroImgDiv" data-aos="zoom-in">
        <div class="centered" id="heroImgText" >
          <h1 id="h1HeroImgText">Blaze, Munch, and Relax</h1>
          <p id="pHeroImgText">A place where Tree lovers can share their expertise, experiences and thoughts</p>
        </div>
      </div>
    </div>
  </div>
  <!--End of Main Page Img-->
</div>
